[submodule "awesome-freedesktop"]
	path = awesome/.config/awesome/awesome-freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule "awesome-lain"]
	path = awesome/.config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "nvim"]
  path = nvim/.config/nvim
  url = git@github.com:Dmoayad/nvim.git
