[submodule "awesome-freedesktop"]
	path = awesome/.config/awesome/awesome-freedesktop
	url = git@github.com:lcpz/awesome-freedesktop.git
[submodule "awesome-lain"]
	path = awesome/.config/awesome/lain
	url = git@github.com:lcpz/lain.git